<div class="center container">
    <h3>cookie authentication</h3>
    <h1 id="hello">{{error}}</h1>
    <div>
        <a href="/register"><button class="bt-form-logIn">REGISTER</button></a>
        <a href="/"><button class="bt-form-logIn">INDEX</button></a>
        <a href="/logout"><button class="bt-form-logIn">LogOut</button></a>
    </div>
    <form action="/login" method="POST" class="center">
        <input type="text" name="login" class="input-Log" placeholder="Login">
        <input type="password" name="pass" class="input-Log" placeholder="pass">
        <button class="bt-form-logIn" type="submit">LogIn</button>
    </form>
    <h1>LOGIN PAGE</h1>
</div>