<div class="center container">
    <h3>cookie authentication</h3>
    <div>
        <a href="/login"><button class="bt-form-logIn">LogIn</button></a>
        <a href="/"><button class="bt-form-logIn">INDEX</button></a>
        <a href="/logout"><button class="bt-form-logIn">LogOut</button></a>
    </div>
    <form action="/registerUser" method="POST" class="center">
        <input type="text" name="login" class="input-Log" placeholder="Login">
        <input type="password" name="pass" class="input-Log" placeholder="pass">
        <input type="password" name="confirmPass" class="input-Log" placeholder="confirm pass">

        <button class="bt-form-logIn" type="submit">register</button>
    </form>

    <h1>REGISTER PAGE</h1>
</div>